<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sistema de información</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/SistemaInformación/css/style.css" />
</head>

<body>

    <!-- Encabezado -->
    <header id="header">
        <section class="pt-4 pb-4 inner-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="mt-0 mb-3 text-white">Sistema de información</h1>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!-- Fin encabezado -->

    <div class="container-fluid bg-light py-2">

        <!-- Apartado de búsqueda -->
        <div class="col-md-12 mt-5">
            <div class="input-group mb-3">
                <input id="intCodigoBuscar" type="text" class="form-control" placeholder="Código">
                <div class="input-group-append">
                    <button id="btnBuscar" class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
                </div>
            </div>
        </div>
        <!-- Fin de apartado de búsqueda -->

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card card-body">
                    <h3 class="text-center mb-5">Registro de artículos</h3>
                    <fieldset>

                        <!-- Formulario -->
                        <form id="form">
                            <div class="form-group">
                                <label for="numCodigo">Código: </label>
                                <input type="text" class="form-control input-lg" id="numCodigo" />
                            </div>
                            <div class="form-group">
                                <label for="nombreArticulo">Nombre: </label>
                                <input type="text" class="form-control" id="nombreArticulo" />
                            </div>
                            <div class="form-group">
                                <label for="precioArticulo">Precio: </label>
                                <input type="number" class="form-control" id="precioArticulo" placeholder="$0.00" />
                            </div>
                            <div class="form-group">
                                <label for="cantidad">Cantidad: </label>
                                <input type="number" class="form-control input-lg" id="cantidad" value="1" />
                            </div>
                            <div class="form-group">
                                <label for="descripcionArticulo">Descripción: </label>
                                <input type="text" class="form-control" id="descripcionArticulo" />
                            </div>
                            <button id="btnAgregar" type="button" class="btn btn-lg btn-primary btn-block">Agregar</button>
                        </form>
                        <!-- Fin formulario -->

                    </fieldset>
                </div>
            </div>

            <!-- Tabla de talleres -->
            <div class="col s12 col-md-8 mt-3">
                <table id="tablaArticulos" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Descripción</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- Fin tabla de talleres -->

            <!-- Modal de partcipantes -->
            <div class="modal fade" id="modalParticipanteRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header text-center">
                            <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Registro de participantes</strong></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!--Body-->
                        <div class="modal-body mx-4">
                            <form id="form1" class="col-12 needs-validation" novalidate>

                                <!--Body-->
                                <div class="form-group">
                                    <label for="nombreParticipante">Nombre del participante: </label>
                                    <input type="text" class="form-control input-lg" id="nombreParticipante" placeholder="Miguel Ángel Martínez Castillo" required />
                                    <div class="valid-feedback">¡Correcto!</div>
                                    <div class="invalid-feedback">Este campo es obligatorio</div>
                                </div>
                                <div class="form-group">
                                    <label for="correoElectronico">Correo electrónico: </label>
                                    <input type="email" class="form-control input-lg" id="correoElectronico" placeholder="Mimartinez1@ucol.mx" required/>
                                    <div class="valid-feedback">¡Correcto!</div>
                                    <div class="invalid-feedback">Este campo es obligatorio</div>
                                </div>
                                <div class="form-group">
                                    <label for="fechaNacimiento">Fecha de nacimiento: </label>
                                    <input type="date" class="form-control" id="fechaNacimiento" required/>
                                    <div class="valid-feedback">¡Correcto!</div>
                                    <div class="invalid-feedback">Introduzca una fecha válida</div>
                                </div>
                            </form>

                        </div>
                        <!--Footer-->
                        <div class="modal-footer mx-5 pt-3 mb-1">
                            <div class="text-center mb-3">
                                <button type="button" id="btnAgregarParticipante" class="btn btn-success btn-block btn-rounded">Aceptar</button>
                            </div>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!-- Fin de modal de participantes-->

            <!-- Modal para mostrar participantes inscritos-->
            <div class="modal fade" id="modalTablaParticipante">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Participantes inscritos al taller</strong></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <table id="tablaParticipante" class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Nombre del participante</th>
                                        <th>Correo electrónico</th>
                                        <th>Fecha de nacimiento</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Fin del modal para mostrar participantes inscritos-->

        </div>
    </div>

    <script src="/SistemaInformaciónVectoresOrdenados/js/main.js" type="module"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</body>

</html>